*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 800px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 67px;
  top: 361px;
  width: 253px;
  height: 199px;
	animation: slideInUp 0.8s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 75px;
  top: 559px;
  width: 245px;
  height: 168px;
	animation: fadeInDown 0.5s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	z-index: 3;
}

.s4 {
	position: absolute;
  left: 504px;
  top: 372px;
  width: 403px;
  height: 81px;
	animation: flipInX 0.5s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 408px;
  top: 494px;
  width: 296px;
  height: 222px;
	animation: zoomIn 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 703px;
  top: 494px;
  width: 299px;
  height: 224px;
	animation: zoomIn 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.hit_1 {
  position: absolute;
  width: 1080px;
  height: 800px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 337px;
  top: 11px;
  width: 530px;
  height: 273px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1080px;
	height: 800px;
	display: none;
	z-index: 20;
}