*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 800px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 48px;
  top: 408px;
  width: 375px;
  height: 272px;
	animation: fadeInUp 1s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 3;
}

.s3 {
	position: absolute;
  left: 57px;
  top: 407px;
  width: 237px;
  height: 249px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 471px;
  top: 375px;
  width: 552px;
  height: 97px;
	animation: fadeInRight 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 471px;
  top: 492px;
  width: 552px;
  height: 96px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 471px;
  top: 604px;
  width: 552px;
  height: 97px;
	animation: fadeInRight 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.hit_1 {
  position: absolute;
  width: 1080px;
  height: 800px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 350px;
  top: 23px;
  width: 585px;
  height: 267px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1080px;
	height: 800px;
	display: none;
	z-index: 20;
}