*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 210px;
  top: 80px;
  width: 673px;
  height: 204px;
	animation: none 0.3s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 194px;
  top: 448px;
  width: 200px;
  height: 27px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 90px;
  top: 584px;
  width: 208px;
  height: 162px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 181px;
  top: 485px;
  width: 112px;
  height: 61px;
	animation: flashIn 0.3s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 7;
}

.s6 {
	position: absolute;
  left: 315px;
  top: 584px;
  width: 225px;
  height: 159px;
	animation: zoomIn 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 7;
}

.s7 {
	position: absolute;
  left: 301px;
  top: 484px;
  width: 208px;
  height: 64px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 750px;
  top: 540px;
  width: 122px;
  height: 70px;
	animation: zoomIn 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 683px;
  top: 572px;
  width: 314px;
  height: 86px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.9s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes flashOut {
  0%, 50%, 100% {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}

@keyframes flashIn {
  20%, 60%, 100% {
    opacity: 1;
  }

  0%, 40%, 80% {
    opacity: 0;
  }
}

@keyframes fadeInUpSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rollInSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-40%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-40%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDownSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}