*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 210px;
  top: 80px;
  width: 673px;
  height: 204px;
	animation: none 0.3s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 244px;
  top: 428px;
  width: 195px;
  height: 63px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 115px;
  top: 532px;
  width: 119px;
  height: 118px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 122px;
  top: 663px;
  width: 97px;
  height: 60px;
	animation: fadeInUpSmall 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 9;
}

.s6 {
	position: absolute;
  left: 277px;
  top: 532px;
  width: 118px;
  height: 118px;
	animation: zoomIn 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 7;
}

.s7 {
	position: absolute;
  left: 276px;
  top: 663px;
  width: 116px;
  height: 57px;
	animation: fadeInUpSmall 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 9;
}

.s8 {
	position: absolute;
  left: 434px;
  top: 532px;
  width: 118px;
  height: 118px;
	animation: zoomIn 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 447px;
  top: 664px;
  width: 84px;
  height: 42px;
	animation: fadeInUpSmall 0.5s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 9;
}

.s10 {
	position: absolute;
  left: 64px;
  top: 592px;
  width: 545px;
  height: 81px;
	animation: none 0s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 7;
}

.s11 {
	position: absolute;
  left: 828px;
  top: 420px;
  width: 226px;
  height: 361px;
	animation: zoomIn 0.5s;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	transform-origin: bottom right;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 658px;
  top: 495px;
  width: 166px;
  height: 190px;
	animation: fadeInRight 0.3s;
	animation-delay: 5s;
	animation-fill-mode: both;
	z-index: 4;
}

@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes flashOut {
  0%, 50%, 100% {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}

@keyframes flashIn {
  20%, 60%, 100% {
    opacity: 1;
  }

  0%, 40%, 80% {
    opacity: 0;
  }
}

@keyframes fadeInUpSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 70%, 0);
    transform: translate3d(0, 70%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rollInSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-40%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-40%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDownSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}