* {
	margin: 0px;
	padding: 0px;
}

#asset1 {
    position: absolute;
    z-index: 1;
    width: 1079px;
    height: 810px;
    top: 0px;
    left: 1px;
}

#asset2 {
    position: absolute;
    z-index: 2;
    width: 250px;
    height: 164px;
    top: 51px;
    left: 56px;
    animation: zoomIn 0.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

#asset3 {
    position: absolute;
    z-index: 3;
    width: 544px;
    height: 168px;
    top: 62px;
    left: 391px;
    animation: fadeInUp 0.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

#asset4 {
    position: absolute;
    z-index: 4;
    width: 366px;
    height: 170px;
    top: 266px;
    left: 474px;
    animation: zoomIn 0.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

#asset5 {
    position: absolute;
    z-index: 5;
    width: 437px;
    height: 85px;
    top: 458px;
    left: 459px;
    animation: fadeInUp 0.5s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

#asset6 {
    position: absolute;
    z-index: 6;
    width: 600px;
    height: 123px;
    top: 555px;
    left: 387px;
	transform-origin: top;
    animation: flipX 0.5s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

#asset7 {
    position: absolute;
    z-index: 7;
    width: 274px;
    height: 161px;
    top: 584px;
    left: 735px;
}


@keyframes flipX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }