*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 281px;
  top: 108px;
  width: 514px;
  height: 118px;
	animation: none 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 266px;
  top: 182px;
  width: 548px;
  height: 72px;
	animation: revealHorizontal 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	clip: rect(0px,0px,100px,0px);
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 364px;
  top: 409px;
  width: 306px;
  height: 151px;
	animation: zoomIn 0.3s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 708px;
  top: 409px;
  width: 306px;
  height: 151px;
	animation: zoomIn 0.3s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 364px;
  top: 580px;
  width: 306px;
  height: 152px;
	animation: zoomIn 0.3s;
	animation-delay: 2s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 708px;
  top: 581px;
  width: 306px;
  height: 150px;
	animation: zoomIn 0.3s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 488px;
  top: 446px;
  width: 109px;
  height: 85px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes flashOut {
  0%, 50%, 100% {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}


@keyframes revealHorizontal{
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,550px,100px,0px);
	opacity: 1;
  }
}